.weather-widget {
  background-color: #f0f4f8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 32px; /* Aumentamos el padding para que se vea más espacioso */
  text-align: center;
  width: 100%; /* Ajustamos el ancho para que ocupe todo el espacio disponible */
  height: 250px; /* Incrementamos la altura para que sea igual al contenedor del gráfico */
}

.city-name {
  font-size: 2.2rem; /* Aumentamos el tamaño de la fuente */
  font-weight: bold;
  margin-bottom: 20px; /* Incrementamos el espacio inferior */
}

.weather-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-icon {
  width: 120px; /* Incrementamos el tamaño del ícono */
  height: 120px;
  margin-right: 20px; /* Incrementamos el espacio entre el ícono y los detalles */
}

.weather-details {
  text-align: left;
}

.temperature {
  font-size: 2rem; /* Aumentamos el tamaño de la fuente */
  font-weight: bold;
}

.description {
  font-size: 1.6rem; /* Aumentamos el tamaño de la fuente */
  color: #555;
}

.error {
  color: red;
  font-weight: bold;
}

.loading {
  font-style: italic;
}